@model Moment_3_EF.Models.BooksModel

@{
    ViewData["Title"] = "Radera";
}

<h2>Radera</h2>

<h3>Är du säker på att du vill radera boken?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Title) - @(Model.Writer != null ? Model.Writer.Name : "Okänd författare")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Writer != null ? Model.Writer.Name : "Okänd författare")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till boklistan</a>
    </form>
</div>